# ------------------ Python ------------------
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ------------------ Logs ------------------
logs/

# ------------------ ML/Experiment tracking ------------------
mlruns/
artifacts/processed/
artifacts/raw/
artifacts/models/images/
notebooks/processed_train.csv

# ------------------ Data ------------------
data/
*.csv
*.tsv
*.parquet
*.h5
*.pickle


# ------------------ Packaging ------------------
*.egg-info/
# setup.py  # Uncomment if setup.py should be ignored

# ------------------ Jupyter ------------------
.ipynb_checkpoints/

# ------------------ Misc ------------------
.DS_Store
*.env
