# ------------------ Python ------------------
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ------------------ Logs ------------------
logs/

# ------------------ ML/Experiment tracking ------------------
mlruns/
# MLOPS_Project_1/artifacts/processed/
# MLOPS_Project_1/artifacts/raw/
MLOPS_Project_1/artifacts/models/images/
MLOPS_Project_1/notebooks/processed_train.csv

# ------------------ Data ------------------
data/
# *.csv
# *.tsv
# *.parquet
# *.h5



# ------------------ Packaging ------------------
*.egg-info/
# setup.py  # Uncomment if setup.py should be ignored

# ------------------ Jupyter ------------------
.ipynb_checkpoints/

# ------------------ Misc ------------------
.DS_Store
*.env
